@import '../includes/user-page.css';

.admin-select{
    background-color: rgb(57, 57, 185);
    margin: 8px;
    border-radius: 5px;
}

.main{
    flex: 1 1 0;
    /* width: 200px; */
}
table{
    width: max-content;
}