@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Condensed&display=swap');

:root{
    --heading-font: 'Black Ops One', cursive;
    --heading-size: 1.4rem;
    --title-font: 'Roboto Condensed', sans-serif;

    --body-bgcolor: #000022;
    --heading-color: #FFFFFF;
    --container-bgcolor: rgba(255, 255, 255, 0.116);
    --input-color: #f3f3f5;
}
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100dvh;
    display: flex;
    align-items: center;   /*to arrange contents inside body to the center of webpage*/
    justify-content: center;
    background: var(--body-bgcolor);
    box-sizing: border-box;
    animation: loadingmenu 2s;
    position: relative;
}

h2{
    font-family: var(--heading-font);
    font-size: var(--heading-size);
    color: var(--heading-color);
}

.container{
    border-radius: 2em;
    margin: 1em;
    display: flex;
    align-items: center;
    background-color: var(--body-bgcolor);
    z-index: 1;
}

.logo a{
    position: absolute;
    top: 1em;
    left: 0;
    margin: 1em;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--heading-color);
}

.container{
    box-shadow: 2em 4em 1em rgba(0, 0, 0, 0.2); /*To give shadow to the container*/
    margin: 2em;
}

.container::before{
    content: "";
    width: 30vmax;
    height: 30vmax;
    position: absolute;
    background: rgba(255,255,255,.041);
    left: 2vmin;
    top: 3vmin;
    will-change: border-radius,transform;
    transform-origin: 55% 55%;
    pointer-events: none;
    border-radius: 30% 70% 67% 33% / 30% 36% 64% 70% ;
    animation: moveshape 5s linear infinite alternate;
}

.container::after{
    content: "";
    width: 30vmax;
    height: 30vmax;
    position: absolute;
    background: rgba(255, 255, 255, 0.041);
    right: 2vmin;
    bottom: 2vmin;
    /* z-index: 1; */
    will-change: border-radius,transform;
    transform-origin: 55% 55%;
    pointer-events: none;
    border-radius: 30% 70% 67% 33% / 30% 36% 64% 70% ;
    animation: movedown 5s linear infinite alternate;
}

.form{
    text-align: center;
}

.input-container{
    position: relative;
    display: flex;
   
}
.input-container input{
    width: 100%;
    padding: 1em 1em;
    box-sizing: border-box;
}
.input-container label{
    position: absolute;
    left: 1em;
    top: 1.5em;
    transition: 0.2s;
    pointer-events: none;

    color: var(--input-color);
    font-family: var(--title-font);
    font-size: 1.3rem;
}

.input-container input::placeholder{
    opacity: 0;
}
.input-container input:focus::placeholder{
    opacity: 1;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label{
    top: .7em;
    left: 1.5em;
    font-size: 1em;
    font-family: var(--title-font);
}

input{
    padding-block: 1em;
    padding-inline: 3em;
    margin: .5em;
    border-radius: 1em;
    border: none;
    font-size: 1.3rem;
    color: var(--input-color);
    background-color: var(--container-bgcolor);
    font-family: var(--title-font);
    transition: transform 0.3s;
}

input .submit{
   
    align-self: center;
    justify-self: center;
 }
 input.submit:hover{
     transform: scale(1.05);
     background-color: blueviolet;
     cursor: pointer;
 }

 .form h3{
    color: var(--heading-color);
    font-family: var(--title-font);
    text-align: center;
}
.form h3 a{
    color: var(--input-color);
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 1rem;
    transition: color 0.3s, transform 0.4s;
}
h3 a:hover{
    
    color: rgba(132, 0, 255, 0.959);
}

@media (max-width: 40em) AND (orientation: portrait){      /*for making webpage responsive*/
    .container{
        margin: 1em;  
    }
    .button{
        padding: .5em;
    }
    .container{
        border: none;
    }
    .container::after{
        display: none;
    }
    .container::before{
        display: none;
    }
    .logo h2{
        font-size: 2em;
    }
}

@keyframes loadingmenu {
    from{
        opacity: 0;
        transform: translateY(-2em);
        transition: ease-in-out;
    }
    to{
        opacity: 1;
    }
}
@keyframes moveshape{
    from{
        left: 2em;
        transform: translateY(0);
    }
    to{
        left: 4em;
        transform: translateY(10em);
    }
}
@keyframes movedown{
    from{
        right: 0;
        transform: translateY(0);
    }
    to{
        right: 5em;
        transform: translateY(1em);
    }
}

.non-visible {
  display: none;
}
.show-password-icon {
  position: absolute;
  top: 35%;
  right: 2em;
  cursor: pointer;
  z-index: 1;
  /* Ensure the icon is above the input */
}