@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Condensed&display=swap');


:root{
    --heading-font: 'Black Ops One', cursive;
    --heading-size: 2rem;
    --title-font: 'Roboto Condensed', sans-serif;

    --body-bgcolor: #000022;
    --heading-color: #FFFFFF;
    --container-bgcolor: rgba(255, 255, 255, 0.116);
    --input-color: #f3f3f5;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 3px; /* Adjust the width as needed */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #888888e8; /* Change the color to your preference */
    border-radius: 5px; /* Add rounded corners */
  }
  
  /* Style the scrollbar track when the mouse is over it */
  ::-webkit-scrollbar-track:hover {
    background-color: #aaa; /* Change the color to your preference */
  }
  
