@import 'root.css';

html{
    font-family: var(--heading-font);
}

/* Define the styles for your sidebar */
.side-nav {
    position: fixed; /* Fixed position so it stays on the left side */
    top: 0;
    left: 0;
    height: 100%; /* Make the sidebar full height */
    width: 20%; /* Adjust the width as needed */
    background-color: var(--body-bgcolor); /* Sidebar background color */
    color: #fff; /* Text color */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Style the title and dividers */
#dash-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.link{
    display: flex;
    align-items: center;
}

.h-divider {
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

/* Style the sidebar links */
a {
    text-decoration: none;
    font-family: var(--title-font);
    color: #fff;
    font-size: 18px;
    padding-block: .8em;
    padding-left: .3em;
    transition: scale 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Style the links on hover */
.link a:hover{
    scale: 1.1;
    color: aqua;
}

/* Add additional styles for active or selected links if needed */
