@import '../includes/user-page.css';

.main{
    margin-inline: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.upload{
    background-color: rgb(57, 57, 185);
    margin: 8px;
    border-radius: 5px;
}

.your-uploads h2{
    padding: 1em;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.project-box{
    max-width: 300px;
    min-width: 280px;
    max-height: 200px;
    width: calc(25% - 10px);
    background-color: var(--body-bgcolor);
    border-radius: 12px;
    padding: 1em;
}

.file-content{
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    font-family: var(--title-font);
    gap: .5em;
}
.file-content img{
    width: 1em;
    padding-right: 1em;
}
.file-content a{
    color: black;
}
.file-content a:hover{
    color: rgb(57, 57, 185);
}
.file-content .project-description{
    height: 80px;
    overflow: scroll;
}
.project-container{
    margin: 1em;
}
.project-box{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    border: 1px solid #ccc;
    transition: transform 0.2s ease-in-out;
}
.project-box:hover {
    transform: translateY(-5px); /* Move the box up slightly on hover */
}

.add-projects{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    scroll-behavior: smooth;
}
.add-projects p{
    font-family: var(--title-font);
    padding: 1em;
}

label {
    /* display: block; */
    font-family: var(--title-font);
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 5px;
    font-size: 16px;
}
input[type="radio"]{
    padding-inline: 1em;
    margin: 0;
    width: auto;
}

input[type="submit"] {
    background-color: rgb(57, 57, 185);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
