@import '../css/root.css';
@import '../includes/user-page.css';


.projects{
    background-color: rgb(57, 57, 185);
    margin: 8px;
    border-radius: 5px;
}
.main{
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.search-form{
    /* background-color: #d3d3d38c; */
    padding-top: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    border-radius: .5em;
    width: 70dvw;
    height: fit-content;
    transition: height 0.4s ease-in-out;
}
.search-bar{
    margin-top: .5em;
    border-radius: .5em;
    display: flex;
    background-color: #fff;
    width: 75%;
    padding: .5em;
}
form{
    display: flex;
    width: 100%;
    border: none;
}
form input{
    font-size: 1em;
    border-radius: .3em;
    width: 100%;
    border: none;
    background-color: transparent;
}
form button{
    background-color: transparent;
    cursor: pointer;
}


input:focus-visible{
    border: none;
    outline: none;
}

.search-bar img{
    display: flex;
    width: 23px;
}
.search-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.filter{
    background-color: var(--body-bgcolor);
    color: white;
    padding: .5em;
    margin-top: .8em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: .6em;
    transition: background-color 0.4s ease-in-out;
}
button{
    border: none;
}
h3{
    font-weight: 200;
    font-family: var(--title-font);
}
.filter:hover{
    background-color: rgb(57, 57, 185);
}

.filter-search{
    margin: 1em;
    background-color: var(--body-bgcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2em;
}
form .filter-search{
    margin: 0;
}
input[type="radio"] {
    display: none; /* Hide the default radio button */
}

/* Style radio button labels */
label {
    display: inline-block;
    margin-right: 10px;
    font-family: var(--heading-font);
    border-radius: 12px;
    padding: .5em;
    cursor: pointer;
    color: white;
    background-color: var(--body-bgcolor);
    transition: background-color 0.4s ease-in-out;
}
label:hover{
    background-color: rgb(57, 57, 185);
}
input[type="radio"]:checked + label { 
    background-color: rgb(57, 57, 185);/* Change the color when selected */
}
.filter-search button{
    background-color: rgb(136, 45, 240);
    font-size: .8em;
    color: white;
    padding: .5em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: .6em;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.filter-search button:hover{
    transform: scale(1.1);

}

/* hidding the filter option  */
.filter-search{
    height: 0;
    overflow-y: hidden;
}
.filter-search.show-filters{
    height: fit-content;
    animation: page-loading 0.8s ease-in-out;
}

/* view results */
.search-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-result h2{
    font-weight: 200;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.project-box{
    max-width: 300px;
    min-width: 280px;
    max-height: 200px;
    width: calc(25% - 10px);
    background-color: var(--body-bgcolor);
    border-radius: 12px;
    padding: 1em;
}

.file-content{
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    font-family: var(--title-font);
    gap: .2em;
}
.file-content img{
    width: 1em;
    padding-right: 1em;
}
.file-content a{
    color: black;
}
.file-content a:hover{
    color: rgb(57, 57, 185);
}
.file-content .project-description{
    height: 100px;
    overflow: scroll;
}
.project-container{
    margin: 1em;
}
.project-box{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    border: 1px solid #ccc;
    transition: transform 0.2s ease-in-out;
}
.project-box:hover {
    transform: translateY(-5px); /* Move the box up slightly on hover */
}

/* new uploads */

.new-uploads{
    display: flex;
    flex-direction: column;
}
.new-uploads h2{
    font-weight: 100;
}

@media (max-width: 40em){
    .search-form{
        width: fit-content;
    }
    form input{
        font-size: .8em;
    }
    .search-filter{
        gap: .2em;
    }
    .filter h3{
        display: none;
    }
    label{
        margin: 0;
    }
    .filter-search{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .2em;
    }
    .project-container{
        margin: .3em;
    }
}

