@import '../includes/user-page.css';

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.notifi{
    background-color: rgb(57, 57, 185);
    margin: 8px;
    border-radius: 5px;
}

.notification {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1rem;
    margin-bottom: 1rem;
    /* display: flex;
    align-items: center; */

    height: 150px;
}

.notification-icon {
    margin-right: 1rem;
}

.notification-icon img {
    max-width: 40px;
    height: auto;
}

.notification h3 {
    margin: 0;
    font-weight: 200;
}
.notification p{
    font-family: var(--title-font);
    overflow: scroll;
}
.sender-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status{
    background-color: #3498db; /* Blue background color */
    color: white; /* White text color */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
}

.approved {
    background-color: #27ae60; /* Green background color for approved */
}

.rejected {
    background-color: #e74c3c; /* Red background color for rejected */
}