:root{
    --bgcolor: linear-gradient(to right, #0074D9, #001F3F);
    --headingcolor: #FFFFFF;
    --headingfont: 'Tilt Prism', cursive;
    --headingsize: 3rem;

    --paragraphcolor: #cccccc;
    --paragraphsize: 2rem;
    --paragraphfont: 'Roboto Condensed', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

body{
    box-sizing: border-box;
    animation: loadingmenu 3s;
    background: linear-gradient(to right, #0074D9, #001F3F);
}

body,
h1,
h2,
p
{
    margin: 0;
    padding: 0;
    /* background-color: var(--bgcolor); */
    color: var(--paragraphcolor);
}
a{
    text-decoration: none;
}

h1
{
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    color: var(--headingcolor);
}
p,h2{
    font-family: var(--paragraphfont);
    font-size: var(--paragraphsize);
    color: var(--paragraphcolor);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0074D9, #001F3F);
    flex-basis: 100%;
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.logo{
    display: flex;
    flex-basis: 100%;
}

.options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
}
.options h2 a{
    font-size: 2rem;
    text-align: center;
    padding-left: 1em;
    color: var(--paragraphcolor);
}

#button-get-started,
.login-button
{
    font-family: var(--paragraphfont);
    font-size: larger;
    margin: 1em;
    padding: .5em 2em;
    border-radius: 1em;
    cursor: pointer;
}

.menu button{
    background-color: transparent;
    border: none;
    color: var(--headingcolor);
}

.menu button .material-symbols-outlined{
    font-size: 3em;
}

.logo .name-log span{
    font-size: 3em;
    color: var(--headingcolor);
    align-self: center;
}

.name-log{
    align-self: center;
}
.option-menu-list{
    list-style: none;
    background-color: #0074D9;
    display: none;
    padding: 0;
    margin: 0;
}
.option-menu-list{
    position: relative;      
}   

.option-menu-list.active{
    display: block;
}

.option-menu-list a{
    margin: 0;
    padding: .8em 1em;
    text-decoration: none;
    color: var(--headingcolor);
    font-weight: 700;
}

.option-menu-list.active{
    position: relative;
}

.menu-icon{
    display: none;
    cursor: pointer;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#home-main{
    animation: reload 2s;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    max-width: 80%;
}
.description h2{
    font-size: 3em;
    color: var(--headingcolor);
}
.description p{
    font-size: 1.5em;
}
.description button{
    font-size: 1rem;
    padding: .5em 2em;
    margin: 1em;
}

.about-us{
    background: linear-gradient(to left, #0074D9, #001F3F);
    animation: loadingmenu 2s;
    display: flex;
    padding: 2em;
    height: fit-content;
}
.content-in-about-us{
    padding: 2em;
    width: 80%;
    font-size: 1.333rem;
}
.content-in-about-us h2{
    color: var(--headingcolor);
    padding: 1rem 0;
}
.content-in-about-us p{
    font-size: 1.333rem;
}
.content-in-about-us ul h3{
    color: var(--headingcolor);
    padding: 0;
    margin: 0;
}

@media (max-width: 40em){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1em;
    }
    .menu button .material-symbols-outlined{
        font-size: 2em;
    }
    /* .description{
        margin-top: 10%;
        height: 60vh;
    } */
    .logo .name-log span{
        font-size: 2em;
    }
    .options{
        display: none;
    }
    .option-menu-list.active{
        animation: loadingmenu 1s;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        width: 100%;
        position: absolute;
        top: 3em;
    }
    .menu-icon{
        display: block;
    }
    .about-us p{
        font-size: 1rem;
    }
    .content-in-about-us{
        width: 95%;
        font-size: 1rem;
    }
}

@keyframes loadingmenu {
    0%{
        opacity: 0;
        transform: translateY(-3em);
        transition: ease-in-out;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes reload {
    0%{
        opacity: 0;
        transform: translateX(-3em);
        transition: ease-in-out;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}