:root{
    --bgcolor: #4a5153;
    --headingcolor: #FFFFFF;
    --headingfont: 'Tilt Prism', cursive;
    --headingsize: 4rem;

    --paragraphcolor: #cccccc;
    --paragraphsize: 2rem;
    --paragraphfont: 'Roboto Condensed', sans-serif;
}


body,
h1,
h2,
p,
a{
    margin: 0;
    padding: 0;
    background-color: var(--bgcolor);
    text-decoration: none;
    color: var(--paragraphcolor);

}
h1
{
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    color: var(--headingcolor);
}
p,h2{
    font-family: var(--paragraphfont);
    font-size: var(--paragraphsize);
    color: var(--paragraphcolor);
}

.container{
    margin-top: 7em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.options{
    display: flex;
    gap: 2em;
}
#button-log-in{
    font-family: var(--paragraphfont);
    font-size: 1rem;
    padding: 0 2em;
    border-radius: 1em;
}