@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Condensed&display=swap');

:root{
    --heading-font: 'Black Ops One', cursive;
    --heading-size: 2rem;
    --title-font: 'Roboto Condensed', sans-serif;

    --body-bgcolor: #000022;
    --heading-color: #FFFFFF;
    --container-bgcolor: rgba(255, 255, 255, 0.116);
    --input-color: #f3f3f5;
}
*{
    text-decoration: none;
}
body{
    margin: 0;
    height: 100dvh;
    display: flex;
    align-items: center;   /*to arrange contents inside body to the center of webpage*/
    justify-content: center;
    background: var(--body-bgcolor);
    box-sizing: border-box;
    animation: loadingmenu 2s;
    position: relative;
}

h2{
    font-family: var(--heading-font);
    font-size: var(--heading-size);
    color: var(--heading-color);
}

.container{
    border-radius: 2em;
    display: flex;
    align-items: center;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--heading-color);
}

.container{
    box-shadow: 2em 4em 1em rgba(0, 0, 0, 0.2); /*To give shadow to the container*/
    margin: 2em;
}

.form{
    margin: 1.5em;
    flex-basis: 100%;  /*to equally divide the container for form and image*/
    text-align: center;
    
}

.input-container{
    position: relative;
    display: flex;
   
}
.input-container input{
    width: 100%;
    padding: 1em 1em;
    box-sizing: border-box;
}
.input-container label{
    position: absolute;
    left: 2em;
    top: 1.5em;
    transition: 0.2s;
    pointer-events: none;

    color: var(--input-color);
    font-family: var(--title-font);
    font-size: 1.3rem;
}

.input-container input::placeholder{
    opacity: 0;
}
.input-container input:focus::placeholder{
    opacity: 1;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label{
    top: .7em;
    left: 1.5em;
    font-size: 1em;
    font-family: var(--title-font);
}

input{
    padding-block: 1em;
    padding-inline: 3em;
    margin: .5em;
    border-radius: 1em;
    border: none;
    font-size: 1.3rem;
    color: var(--input-color);
    background-color: var(--container-bgcolor);
    font-family: var(--title-font);
    transition: transform 0.3s;
}

input .submit{
   
    align-self: center;
    justify-self: center;
 }
 input.submit:hover{
     transform: scale(1.05);
     background-color: blueviolet;
     cursor: pointer;
 }

 .form h3{
    color: var(--heading-color);
    font-family: var(--title-font);
    text-align: center;
}
.form h3 a{
    color: var(--input-color);
    font-family: var(--heading-font);
    font-weight: 900;
    font-size: 1.3em;
    transition: color 0.3s, transform 0.4s;
}
h3 a:hover{
    
    color: rgba(132, 0, 255, 0.959);
}

@media (max-width: 40em) AND (orientation: portrait){      /*for making webpage responsive*/
    .container{
        flex-direction: column;
        margin: 5em;
        max-width: 80%;
        height: 80%;
    }
    .button{
        padding: .5em;
    }
    .container{
        border: none;
    }
    .container .image img{
        border-radius: 2em  2em 0 0;
    }
    p{
        margin: 0;
        padding: 1em;
    }
    input{
        font-size: 1em;
    }
}

@keyframes loadingmenu {
    from{
        opacity: 0;
        transform: translateY(-2em);
        transition: ease-in-out;
    }
    to{
        opacity: 1;
    }
}