*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --heading-font: 'Black Ops One', sans-serif;
    --heading-size: 2rem;
    --title-font: 'Roboto Condensed', sans-serif;

    --body-bgcolor: #000022;
    --text-color: #FFFFFF;
    --container-bgcolor: rgba(255, 255, 255, 0.137);
    --input-color: #f3f3f5;
}
body{
    background-color: var(--body-bgcolor);
    color: var(--text-color);
    height: 100dvh;
}
.container{
    background-color: var(--container-bgcolor);
    height: 100dvh;
}

.header{
    display: flex;
    position: absolute;
    background-color: var(--body-bgcolor);
    padding: 1em;
    width: 100%;
}

.menu{
    display: none;
}

.menu :hover{
    cursor: pointer;
}

.header button{
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

button .material-symbols-outlined{
    font-size: 2.5em;
}

.logo{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
.logo h1{
    font-family: var(--heading-font);
}
.current-user h2{
    font-family: var(--heading-font);
}

.logo .material-symbols-outlined{
    font-size: 2em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3 1 auto;
    background-color: var(--container-bgcolor);
    border-radius: 2em;
}
.search input{
    background-color: transparent;
    border: none;
    width: 90%;
    height: 100%;
    padding-inline-start: .5em;
    font-size: 1.2rem;
}
input:focus{
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: var(--input-color);
}

.search-button{
    display: none;
}

.current-user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    background-color: var(--container-bgcolor);
    margin-left: 1em;
    padding-inline: 1em;
    border-radius: 50%;
}

.section{
    display: flex;
    padding-top: 4.3em;
    height: 100%;
}

.sidebar{
    background-color: var(--body-bgcolor);
    display: flex;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
}
.sidebar ul{
    width: 100%;
}
.sidebar ul li{
    display: flex;
    padding: .5em;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.4s, transform 0.3s;
}
a{
    color: var(--text-color);
    transition: transform 0.3s;
}
a:hover{
    transform: scale(1.05);
}
li:hover{
    background-color: var(--container-bgcolor);
}
.contents{
    width: 80%;
}

@media (max-width: 45em){
    .sidebar{
        width: 0;
    }
    .search-button{
        flex: 0 1 auto;
        background-color: var(--container-bgcolor);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1em;
        border-radius: 50%;
        padding-inline: .5em;
    }
    .search{
        opacity: 0;
    }
    .search.add{
        width: 12em;
        opacity: 1;
    }
    .menu{
        display: block;
    }
    .contents{
        width: 100%;
    }
    .sidebar.active{
        width: 40%;
    }
    .logo h1{
        display: none;
    }
    li a{
        font-size: 1rem;
    }
}