*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --heading-font: 'Black Ops One', sans-serif;
    --heading-size: 2rem;
    --title-font: 'Roboto Condensed', sans-serif;

    --body-bgcolor: #000022;
    --text-color: #FFFFFF;
    --container-bgcolor: rgba(255, 255, 255, 0.137);
    --input-color: #f3f3f5;
}
body{
    background-color: var(--body-bgcolor);
    color: var(--text-color);
    height: 100dvh;
}
.container{
    background-color: var(--container-bgcolor);
    height: 100%;
}

.header{
    display: flex;
    position: relative;
    background-color: var(--body-bgcolor);
    padding: 1em;
    width: 100%;
}

.menu{
    display: flex;
}

.header button{
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

button .material-symbols-outlined{
    font-size: 2.5em;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: .5em;
    flex: 1 1 auto;
}
.logo h1{
    font-family: var(--heading-font);
}

.logo .material-symbols-outlined{
    font-size: 2em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3 1 auto;
    background-color: var(--container-bgcolor);
    border-radius: 2em;
}
.search input{
    background-color: transparent;
    border: none;
    width: 90%;
    height: 100%;
    padding-inline-start: .5em;
    font-size: 1.2rem;
}
input:focus{
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: var(--input-color);
}
.current-user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
}